@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fonts  */
@font-face {
  font-display: swap; 
  font-family: 'Onest';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/inter-v18-latin-regular.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Onest';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/onest-v6-latin-500.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Onest';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/onest-v6-latin-600.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Onest';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/onest-v6-latin-700.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/inter-v18-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/inter-v18-latin-500.woff2') format('woff2');
}
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/inter-v18-latin-700.woff2') format('woff2');
}
/* Fonts  */

body{
  font-family: "Onest",sans-serif;
  font-family: "Inter",sans-serif;
  scroll-behavior: smooth;
}

/* Hero section  */
.Hero-top-content{
  background: linear-gradient(94.46deg, #398F78 0.42%, #20E393 92.65%);
  border-radius: 20px;
}
.experience-item{
  background: linear-gradient(135deg, #399279 0%, #21E494 100%);
}
.team-work-card{
  background: linear-gradient(128.7deg, #398C77 0%, #16FF9B 101.46%);
}
.light-img{
  background-image: url('../src/assets/images/LightImg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.drection-card1{
  background-image: url('./assets/images/drectionCard1LeftImg.png'),url('./assets/images/drectioncard1RightImg.png');
  background-repeat: no-repeat;
  background-size: 65px 155px,115px 172px;
  background-position: left bottom,104% 20px;
}
.drection-card3{
  background-image: url('./assets/images/drection3-icon.png');
  background-repeat: no-repeat;
  background-size: 93px 36px;
  background-position: 197px bottom;
}
.drection-card4{
  background-image: url('./assets/images/drection4Icon.svg');
  background-repeat: no-repeat;
  background-size: 160px 127px;
  background-position: top right;
}
.drection-card5{
  background-image: url('./assets/images/drection5Icon.svg');
  background-repeat: no-repeat;
  background-size: 93px 50px;
  background-position: top right;
}

.drection-bg{
  background: linear-gradient(128.7deg, #398C77 0%, #16FF9B 101.46%);
}
.add-shadow{
  box-shadow: 0px 48px 100px 0px #110C2E1A;
}