@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fonts  */
@font-face {
  font-display: swap; 
  font-family: 'Onest';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/inter-v18-latin-regular.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Onest';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/onest-v6-latin-500.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Onest';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/onest-v6-latin-600.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Onest';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/onest-v6-latin-700.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/inter-v18-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/inter-v18-latin-500.woff2') format('woff2');
}
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/inter-v18-latin-700.woff2') format('woff2');
}
/* Fonts  */

body{
  font-family: "Onest",sans-serif;
  font-family: "Inter",sans-serif;
  scroll-behavior: smooth;
}

/* Hero section  */
.Hero-top-content{
  background: linear-gradient(94.46deg, #398F78 0.42%, #20E393 92.65%);
  border-radius: 20px;
}
.experience-item{
  background: linear-gradient(135deg, #399279 0%, #21E494 100%);
}


/* drection item imgs  */
.drection-item1{
  background-image: url('./assets/images/drectionCard1LeftImg.png'),url('./assets/images/drection-card1-RightImg.png');
  background-repeat: no-repeat;
  background-size: 65px 155px , 115px 173;  
  background-position: left bottom,right 20px;
}
.drection-item2{
  background-image: url('./assets/images/drection2-bottom-Img.png'),url('./assets/images/drection2-top-Img.png');
  background-repeat: no-repeat;
  background-size: 157px 62px , 189px 123.5px;  
  background-position: 376px bottom, 356px top;
}
.drection-item3{
  background-image: url('./assets/images/drection3-icon.png');
  background-repeat: no-repeat;
  background-repeat: 93px 96px;
  background-position: 197px bottom;
}
.drection-item4{
  background-image: url('./assets/images/drection4-item-Img.png');
  background-repeat: no-repeat;
  background-repeat: 160px 127px;
  background-position: right top;
}
.drection-item5{
  background-image: url('./assets/images/drection5-item-Img.png');
  background-repeat: no-repeat;
  background-repeat: 160px 127px;
  background-position: right top;
}
/* drection item imgs  */

.identifier{
  background: linear-gradient(128.7deg, #398C77 0%, #16FF9B 101.46%);
}